.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.main-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
